body{
    background-color: Red;
    color:black;
     font-family: "Montserrat", sans-serif;
     margin: 0px;
}
header{
    font-size: 80px;
    border-bottom:  double 5px black;
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
    color: black;
}
h1{
    font-size: 30px;
}
p{
    font-size: small;
}

section{
background-color: black;
padding-bottom: 80px;
display: flex;
justify-content: center;

}
.chamada-texto{
    margin-right: 10%;
}
