body{
    background-color: Red;
    color:black;
     font-family: "Montserrat", sans-serif;
     margin: 0px;
}
header{
    font-size: 80px;
    border-bottom:  double 5px black;
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
    color: red;
}
h1{
    font-size: 30px;
}
p{
    font-size: small;
}

.chamada{
background-color: black;
padding-bottom: 80px;
display: flex;
justify-content: center;

}
.chamada-texto{
    margin-right: 10%;
}

img{
   width: 200px;
   height: 300px;
}

.Outros Filmes{
    display: flex;
    overflow-x:auto;
    gap: 10px;
    padding-left: 20px;
}

h2{
    padding-left: 30px;
}

body{
    padding-bottom: 40px;
}